@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(218, 223, 224);
}

header span {
  font-family: "Exo 2", "Monaco";
  color: rgb(100, 104, 105);
}

.userInput button {
  font-family: "Exo 2", "Monaco";
  color: black;
  font-size: 20px;
  display: grid;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 0.3em 1.2em;
  width: 225px;
  border-radius: 2em;
  text-decoration: none;

  /* //     borderRadius: '2em',
  //     position: 'relative',
  //     boxSizing: 'border-box',
  //     textDecoration: 'none',
  //     fontWeight: '300',
  //     textAlign: 'center',
  //     height: '40px',
  //     width: '200px',
  //     marginRight: 'auto',
  //     marginLeft: 'auto', */
}

.image {
  opacity: 1;
  width: auto;
  height: 100px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  position: absolute;
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  top: -10px;
}
