@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(218, 223, 224);
}

header span {
  font-family: "Exo 2", "Monaco";
  color: rgb(100, 104, 105);
}

.userInput button {
  font-family: "Exo 2", "Monaco";
  color: black;
  font-size: 20px;
}

.image {
  opacity: 1;
  width: auto;
  height: 100px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  position: absolute;
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  top: -10px;
}
